{% extends 'denuncia/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'denuncia:denuncia_edit' pk=denuncia.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2 class="page-header">Cedula de Identidad: {{ denuncia.cedula }}</h2>
        <p>Nombre y Apellido : {{ denuncia.nombreApellido }}</p>
        <p>Texto de la Denuncia: {{ denuncia.denunciaTexto|linebreaksbr }}</p>
        {% if denuncia.published_date %}
            <div class="date">
                {{ denuncia.published_date }}
            </div>
        {% endif %}
    </div>
    <div class="bs-component" >
        <a href="/denuncia/" class="btn btn-primary btn-small">
        <button type="submit" class="btn btn-primary btn-small">Volver</button>
        </a>
    </div>
{% endblock %}