{% extends 'beneficiario/base.html' %}

{% block content %}
    <h2>Cedula de Identidad Policial: {{ nangareko.cedula }}</h2>
    <table class="table">
        <caption>Cedula encontrada en</caption>
        <thead>
        <tr>
            <th scope="col">Base</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Departamento</th>
            <th scope="col">Distrito</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Ñangareko</th>
            <td>{{ nangareko.nombreApellido|linebreaksbr }}</td>
            <td>{{ nangareko.departamento|linebreaksbr }}</td>
            <td>{{ nangareko.distrito|linebreaksbr }}</td>
        </tr>
        <tr>
            <th scope="row">Pytyvo</th>
            <td>{{ pytyvo.nombreApellido|linebreaksbr }}</td>
            <td>{{ pytyvo.departamento|linebreaksbr }}</td>
            <td>{{ pytyvo.distrito|linebreaksbr }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}